body {
    display: flex;
    flex-direction: column;
    background-color: pink;
    justify-content: start;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.game-interface {
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 15px;
}

.game-interface > .gameboard-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.gameboard-container > .gameboard {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: clamp(500px, 500px, 500px);
    width: clamp(500px, 500px, 500px);
}

.gameboard > div {
    box-sizing: border-box;
    border: solid black 1px;
}

.gameboard > .empty {
    background-color: white;
}

.gameboard > .hover {
    background-color: red;
}

.game-interface > .ship-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.ship {
    display: flex;
    flex-direction: row;
}

.ship-part {
    box-sizing: border-box;
    height: clamp(50px, 50px, 50px);
    width: clamp(50px, 50px, 50px);
    background-color: cyan;
    border: solid black 1px;
}