body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

h1, h3 {
    margin: 0px;
}

.game-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-interface {
    display: grid;
    grid: repeat(1, 1fr) / repeat(2, 1fr);
    place-items: stretch;
    background-color: rgb(201, 201, 201);
    box-sizing: border-box;
    padding: 50px 25px;
    gap: 50px;
}

.gameboard-container > .gameboard {
    aspect-ratio: 1;
    display: grid;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    place-items: stretch;
    box-sizing: border-box;
}

.gameboard > div {
    box-sizing: border-box;
    border: solid black 1px;
}

.gameboard > .empty {
    background-color: white;
}

.gameboard > .hover {
    background-color: red;
}

.ship-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.ship {
    display: flex;
    width: 10%;
    flex-direction: column;
    background-color: pink;
}

.ship-part {
    aspect-ratio: 1;
    background-color: rgb(70, 70, 212);
    border: solid black 1px;
}

.game-interface > .ready-button {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}